@import url('https://fonts.googleapis.com/css?family=Podkova:400,800|Raleway:400,500,700&display=swap');

body{
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
}
.bold{
font-family: 'Raleway', sans-serif;
font-weight: 700;
color: inherit;
}
header{
  height: 138px;

}
#top{
  height: 33px;
  background-color: #f5f5f5;
}
#top ul li{
list-style: none;
margin-top: 9px;
font-size: 13px!important;
color: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.left .bold{
font-size: 14px!important;
}
#top .left  li{
 float: left;
}
#top .right li{
 float: right;
}
#top .left {
 margin-left: 6% ;
}
#top .right {
 margin-right:  6% ;
}
#top ul li {
 padding-left: 8px;
}

#shops{
  margin-left: 24px;
}
#top .left img{
  padding-left: 6px;
}
#container_logo{
height: 105px;
margin: 0 5.9%;
}
/* incon inside input */
.search {
      position: relative;
  }
.search input{
height: 38px;
width:  273px;
border: 1px solid #f5f5f5;
 padding: 10px;
 border-radius: 25px;
}
.search .fa-search {
  position: relative;
  top: 2px;
  left: 260px;
  font-size: 15px;
  color:#4c4c4c;
}
/* incon inside input */

.list .bold{
 font-size: 16px;
 line-height: 30px;
}
#container_logo ul li{
   list-style: none;
   float: left;
   margin-top: 26px;
}
.list{
margin-left: 10.45%;
}

#line{
width:68px;
float: right;
padding-top: 5px;
}
.list bold{
font-size: 18px;
line-height: 30px;
}
.list  span{
 font-size: 11px;
 color: #4c4c4c;
}
#exampleModalLabel{
 font-family: 'Podkova', serif;
 font-size: 24px;

}

.modal-body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.modal-footer ul li a span{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-right: 5px;
}
.modal-footer ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: inherit;
}
#Kazan{
color:#d3aa2f;
}
.modal-header{
 border-bottom: 0;
}
.modal-footer{
border-top: 0;
}
.dropdown-item{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
#content{
margin-top: 38px;
margin: 0 5.9%;
}
#myCarousel{
background-color: #eef4fe;
}
.baner_div{
float: right;
 margin-top: 62px;
 margin-right: 136px;
padding: 20px;
}
.baner_div h1{
  font-family: 'Podkova', serif;
  font-weight: 800;
  font-size: 48px;
}
.baner_div p{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  float: left;
}
.baner_div button{
  float: right;
  color:white;
  margin-right: 250px;
   width: 128px;
  height: 48px;
}
.products{
text-align: center;
font-size: 36px;
font-family: 'Podkova', serif;
font-weight: 800;
margin:  58px 0;

}
.col-sm-3{
cursor: pointer;
}
.col-sm-3 div{
text-align: center;
}
.col-sm-3 div h4{
font-size: 18px;
font-family: 'Raleway', sans-serif ;
}
.col-sm-3 div p{
font-size: 18px;
font-family: 'Raleway', sans-serif ;
font-weight: 700;
}
.red_price{
color: red;
display: inline;
}
.low_price .line-through{
text-decoration: line-through;
display: inline;
padding-left: 10px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 14px;
}
.col-sm-3 button{
width: 80px;
height:26px;
color: white;
font-size: 11px;
opacity: 0;
margin-top: 12px;
}
.col-sm-3:hover button{
  opacity: 1;
}
