@import url('https://fonts.googleapis.com/css?family=Podkova:400,800|Raleway:400,500,700&display=swap');
@font-face {
      font-family: "fonts/TimesNewRomanRegular";
			src: url("fonts/TimesNewRomanRegular.eot");
			src: url("fonts/TimesNewRomanRegular.eot?#iefix")format("embedded-opentype"),
			url("fonts/TimesNewRomanRegular.woff") format("woff"),
			url("fonts/TimesNewRomanRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
  @font-face {
  			font-family: "fonts/Raleway-v4020";
        src: url("fonts/Raleway-v4020-Bold.otf");
        src: url("fonts/Raleway-v4020-ExtraBold.otf");
        src: url("fonts/Raleway-v4020-Medium.otf");
        src: url("fonts/Raleway-v4020-Regular.otf");
  	}

body{
 font-family: 'Raleway', sans-serif;

}
.bold{
font-family: 'Raleway', sans-serif;
font-weight: 700;
color: inherit;
}
.phone{
font-family: "Raleway-v4020-Bold";
font-size: 18px;
}
.phone span{
 font-family: 'Raleway', sans-serif;
}
header{
  height: 138px;

}
#top{
  height: 33px;
  background-color: #f5f5f5;
}
#top ul li{
list-style: none;
margin-top: 9px;
font-size: 13px!important;
color: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.left .bold{
font-size: 14px!important;
}
#top .left  li{
 float: left;
}
#top .right li{
 float: right;
}
#top .left {
 margin-left: 6% ;
}
#top .right {
 margin-right:  6% ;
}
#top ul li {
 padding-left: 8px;
}

#shops{
  margin-left: 24px;
}
#top .left img{
  padding-left: 6px;
}
#container_logo{
height: 105px;
margin: 0 5.9%;
}

/* Drop_down katalog */
.wrapper {
  margin-top: 47px;
  z-index: 1000;
  position: absolute;
  width: 88%;
   left:5.9%;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
  background-color: #f5f5f5;
  padding: 42px 77px;
}
.card-body{
padding: 0;
}
.column {
	flex: 1;
	margin: 20px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
.column .column_2{
  float: left;
  width: 50%;
  margin-top: 124px;
}
.columns .column ul li{
line-height: 25px;
font-size: 18px;
font-family: 'Raleway-v4020-Regular';
}
.columns .bold{
 font-family: 'Raleway-v4020-Bold';
}
.columns .red{
 color: red;
}
.margin_50{
margin-top: 50px;
}
.margin_70{
margin-top: 70px;
}
.margin_100{
margin-top: 100px;
}
.margin_90{
margin-top: 90px;
}
.margin_55{
margin-top: 55px;
}
@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
}

/* Drop_down katalog */

/* incon inside input */
.search {
      position: relative;

  }
.search input{
height: 38px;
width:  273px;
border: 1px solid #f5f5f5;
 padding: 10px;
 border-radius: 25px;
 outline: inherit;
}
.search .fa-search {
  position: relative;
  top: 2px;
  left: 260px;
  font-size: 15px;
  color:#4c4c4c;
}
/* incon inside input */

.list .bold{
 font-size: 16px;
 line-height: 30px;
}
#container_logo #principal_ul{
 margin-top: 26px;
 display: flex;
 justify-content:space-between;
 list-style: none;
}

#line{
width:68px;
float: right;
padding-top: 5px;
}
.list bold{
font-size: 18px;
line-height: 30px;
}
.list  span{
 font-size: 11px;
 color: #4c4c4c;
}
#exampleModalLabel{
 font-family: "TimesNewRomanRegular";
 font-size: 24px;
}

.modal-body{
  font-family: "TimesNewRomanRegular";
  font-size: 16px;
}
.modal-footer ul li a span{
  font-family: "Raleway-v4020-Bold";
  font-size: 18px;
  padding-right: 5px;
}
.modal-footer ul li a {
  font-family: "TimesNewRomanRegular";
  font-size: 18px;
}

.modal-footer li a:hover{
color: #d3aa2f;
}
.modal-header{
 border-bottom: 0;
}
.modal-footer{
border-top: 0;
}
.dropdown-item{
  font-family: 'TimesNewRomanRegular';
  font-size: 14px;
}

#content{
margin-top: 38px;
margin: 0 5.9%;
}
#myCarousel{
background-color: #eef4fe;
}
.baner_div{
float: right;
 margin-top: 62px;
 margin-right: 136px;
padding: 20px;
}
.baner_div h1{
  font-family: 'Podkova', serif;
  font-weight: 800;
  font-size: 48px;
}
.baner_div p{
  font-family: "Raleway-v4020-Bold";
  font-size: 36px;
  float: left;
}
.baner_div button{
font-family: "Raleway-v4020-Bold";
  float: right;
  color:white;
  margin-right: 250px;
   width: 128px;
  height: 48px;
}
.products{
text-align: center;
font-size: 36px;
font-family: 'Podkova', serif;
font-weight: 800;
margin:  58px 0;

}
.col-sm-3{
cursor: pointer;
}
.col-sm-3 div{
text-align: center;
}
.col-sm-3 div h4{
font-size: 18px;
font-family: 'Raleway-v4020-Regular';
}
.col-sm-3 div p{
font-size: 18px;
font-family: 'Raleway-v4020-Bold' ;
}
.red_price{
color: red;
display: inline;
}
.low_price .line-through{
text-decoration: line-through;
display: inline;
padding-left: 10px;
font-family: 'Raleway-v4020-Medium';
font-size: 14px;
opacity: 0.6;
}
.col-sm-3 button{
width: 80px;
height:26px;
color: white;
font-size: 11px;
opacity: 0;
margin-top: 12px;
font-family: 'Raleway-v4020-Bold' ;
}
.col-sm-3:hover button{
  opacity: 1;
}
#about{
text-align: center;
border: 6px solid #d3aa2f;
font-size: 36px;
font-family: 'Podkova', serif;
padding: 75px;
margin-top: 140px;
}
#blog header{
  text-align: center;
  font-size: 36px;
  font-family: 'Podkova', serif;
  font-weight: 800;
  margin-top: 88px;
}
#blog .col-md-4 h6{
font-size: 20px;
font-family: 'Raleway-v4020-Bold';
}
#blog .col-md-4 span{
font-size: 14px;
font-family: 'Raleway-v4020-Regular';
opacity: 0.6;
display: block;
padding: 16px 0;
}
#blog .col-md-4 p{
font-size: 18px;
font-family: 'Raleway-v4020-Regular';

}
.yellow_line{
height: 3px;
}
#blog #first_line{
width: 185px;
}
#blog #second_line{
width: 150px;
}
#blog #third_line{
width: 165px;
}
#blog .row {
  padding: 0 65px;
}
#blog .row .col-md-4{
  padding: 0 50px;
  line-height: 25px;
}
#instagram{
background-color: #eab618;
height: 272px;
width: 272px;
display: inline-block;
top: 126px;
position: relative;
}
#instagram img{
position: relative;
top:60px;
left: 50px;
}
#instagram p{
position: relative;
top:  140px;
left: 50px;
color: white;
font-family: 'Podkova', serif;
font-size: 24px;
font-weight: 800;
}
#small-img{
 max-width: 90%;
 left: 180px;
 top:-106px;
}
footer{
margin: 0 5.9%;
margin-bottom: 55px;
}
footer .col-md-6 p{
font-family: 'Raleway-v4020-Regular';
font-size: 18px;
}
footer .col-md-6 p span{
font-family: 'Raleway-v4020-Regular';
font-size: 14px;
float: right;
padding-top: 10px;
}
#bag_you{
  margin-bottom: 30px;
}
.buttons button{
width: 56px;
height: 28px;
border: 0;
margin: 0;

}
.buttons #btn_1{
background-color: #45668e;
}
.buttons #btn_2{
background-color: #3b5998;
}
.buttons #btn_3{
background-color: #d6249f;
}
.buttons{
margin-bottom: 36px;
}
.op_6{
opacity:0.6;
}
footer .col-md-6{
padding-right: 165px;
}
#phone_bottom{
  font-family: "Raleway-v4020-Bold";
  font-size: 24px;
  margin-bottom: 56px;
}
#phone_bottom span{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
footer ul li img{
background-color: #f9e9b9;
}
footer ul li a{
  font-family: 'Raleway-v4020-Regular';
  font-size: 18px;
}
